NODE_ENV=development
PORT=....

#DATABASE
DATABASE_URL=...
DATABASE_POOL_SIZE=10

#REDIS
UPSTASH_REDIS_REST_URL=...
UPSTASH_REDIS_REST_TOKEN=...

#JWT
JWT_SECRET=iashdlkahslkd
JWT_ACCESS_TOKEN_TTL=900000
JWT_REFRESH_TOKEN_TTL=604800000

#HASH
SALT_ROUND=6


#BREVO
SMTP_SERVER=...
SMTP_SERVER_PORT=...
SMTP_SERVER_USERNAME=...
SMTP_SERVER_PASSWORD=...

#STRIPE
STRIPE_SECRET_KEY=...
STRIPE_WEBHOOK_SECRET=...
STRIPE_PRICE_ID_PRO=...
STRIPE_PRICE_ID_ULTRA=...

#FRONTEND
APP_FRONTEND_URL=...